
.card{
	flex: 0 0 auto;
    width: 23%;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    border-radius: 2px;
    transition: all 0.3s;
    border: 1px solid #e8e8e8;
    margin: 0 0.5rem 0.8rem 0.5rem;
	.card-image{
		background-color: #f5f5f5;
		display: flex;
		justify-content: center;
		padding-top: 5px;
		img{
			width:200px;
			height:200px;
		}
	}
	.card-body{
		padding: 1.2rem;
		.card-title{
			margin-bottom: 0.5em;
			color: rgba(0,0,0,.85);
			font-weight: 500;
			font-size: 1rem;
		}
		.user-info{
			.info-list{
				display: flex;
				align-items: center;
				margin-bottom: 5px;
				.info-text{
					margin-left: 5px;
				}
			}
		}
	}
	.user-action{
		display: flex;
		justify-content: space-around;
		background: #fafafa;
		border-top: 1px solid #e8e8e8;
		padding: 5px;
		.action-list{
			.btn-icon{
				background: none;
				border: none;
				outline: none;
				font-size: 20px;
				color: rgba(0,0,0,.45);
				cursor: pointer;
				.icon-heart.active{
					color: rgb(255, 0, 0);
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.card {
		width: 45%;
		.card-body{
			padding:0.6rem;
		}
	}
}
@media (max-width: 768px) {
	.card {
		width: 100%;
		.card-body{
			padding:0.6rem;
		}
	}
}